@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  box-sizing: border-box;
  /* border: 1px solid; */
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
}

/* menyembunyikan scroll bar */
body::-webkit-scrollbar {
  display: none;
}

.wrapper {
  /* border: 1px solid; */
  max-width: 1024px;
  padding: 60px 30px 30px 30px;
  margin-left: auto;
  margin-right: auto;
}

header {
  display: flex;
  flex-direction: column;
}

header .logo {
  display: flex;
  justify-content: center;
}

header .logo-text {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

nav.menu {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

nav.menu a {
  /* margin: 0 10px 0 10px; */
  text-decoration: none;
  color: #5e5e5e;
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

nav.menu a:hover {
  color: #4b6cc1;
  transition: transform 0.3s ease;
  transform: scale(1.05);
}

nav.menu a:focus {
  color: #4b6cc1;
}

header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Awal Section */
.box {
  background-color: #f1f8fa;
  padding: 1.8rem;
  border-radius: 5px;
  margin-top: 3rem;
}

.box .text-box h1 {
  font-size: 48px;
  margin: 0;
}

.box .text-box p {
  line-height: 35px;
  font-size: 22px;
  font-weight: 200;
  text-align: justify;
  text-decoration: none;
  margin-bottom: 0;
}

.box .text-box p a {
  text-decoration: none;
}
.box .text-box p a:hover {
  text-decoration: underline;
}
/* Akhir Section */
